{% extends 'mailing/base.html' %}

{% block title %}
    <title>О нас</title>
{% endblock %}

{% block content %}
   <main>
      <div class="features">
        <h1>О нас</h1>
        <p>Добро пожаловать! Меня зовут Дзербун Игорь и я индивидуальный разработчик, занимающийся созданием программного обеспечения. Мой тестовый продукт — это сервис, который помогает в проведении эффективной рассылки сообщений.</p>
        <p>Моя цель — сделать процесс рассылки легким и удобным для каждого пользователя. Я уделяю внимание каждой детали, чтобы обеспечить надежность и удобство использования.</p>
        <p>Благодаря моему сервису, вы можете легко управлять контентом, создавать рассылки и следить за результатами.</p>
        <p>Спасибо, что выбрали мой сервис для ваших потребностей в рассылке сообщений!</p>
    </div>
  </main>
{% endblock %}
