{% extends 'mailing/base.html' %}

{% block content %}
    <main>
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                    <li><strong>Email:</strong> {{ object.email }}</li>
                    <li><strong>ФИО:</strong> {{ object.full_name }}</li>
                    <li><strong>Комментарий:</strong> {{ object.comment }}</li>
                    <div class="btn-group">
                        <a href="{% url 'mailing:client-update' pk=object.pk %}" role="button" class="btn btn-warning">Изменить</a>
                        <a href="{% url 'mailing:client-delete' pk=object.pk %}" role="button" class="btn btn-danger">Удалить</a>
                    </div>
            </div>
        </div>
    </main>
{% endblock %}
