{% extends 'mailing/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<main>
    <div class="row">
        {% for client in clients %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h1 class="card-text">{{ client.full_name }}</h1>
                        <p class="card-text">{{ client.email }}</p>
                        <p class="card-text">{{ client.comment }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'mailing:client-detail' pk=client.pk %}" role="button" class="btn btn-warning">Подробнее</a>
                                <a href="{% url 'mailing:client-update' pk=client.pk %}" role="button" class="btn btn-warning">Изменить</a>
                                <a href="{% url 'mailing:client-delete' pk=client.pk %}" role="button" class="btn btn-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="text-center">
        <a href="{% url 'mailing:client-create' %}" class="btn btn-primary">Добавить клиента</a>
    </div>
   {% else %}
    <div class="form-container">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="styled-link"><i class="fas fa-sign-out-alt"></i>Вход</button>
    </form>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="styled-link"><i class="fas fa-sign-out-alt"></i>Зарегистрироваться</button>
    </form>
    </div>


   {% endif %}
</main>
{% endblock %}
