   {% extends 'mailing/base.html' %}

   {% block content %}

      <div class='entry centered' style='width: 80%; padding: 10px; text-align: center;'>
          <form method='post'>
        {% csrf_token %}
        <p style='font-size: 25px'>Вы уверены, что хотите удалить расылку для {{ object.client }} с темплейтом "{{ object.email_filling }}"?</p>
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a class="btn btn-light" href="{% url 'distributions_detail' object.pk %}" role="button">Отмена</a>
    </form>
      </div>
   {% endblock %}