{% extends 'mailing/base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.send_time.label_tag }}
            {{ form.send_time }}
            {{ form.send_time.errors }}
        </div>

        <div class="mb-3">
            {{ form.frequency.label_tag }}
            {{ form.frequency }}
            {{ form.frequency.errors }}
        </div>

        <div class="mb-3">
            {{ form.status.label_tag }}
            {{ form.status }}
            {{ form.status.errors }}
        </div>

        <button type="submit" href="{% url 'mailing:mailing_list' %}" class="btn btn-warning">Сохранить изменения</button>
    </form>
{% endblock %}
