{% extends 'mailing/base.html' %}
{% load custom_tags %}


{% block content %}
    <div class='product_desc'>
        <div class='card' style='background-color: #1d1d1d; padding: 13px; margin: 7px; color: white; border: 2px solid #ffd900'>
            <h5>Темплейт письма: {{ object.email_filling }}</h5>
            <hr>
            <h6>Клиенты: </h6>
            {% for client in object.client.all %}
            <pre style='margin-bottom: 0px'><h6>   - {{ client }}</h6></pre>
            {% endfor %}
            <h6>Периодичность рассылки: {{ object.periodic_time }}</h6>
            <h6>Время рассылки: {{ object.time }}</h6>
            <h6>Включена: {{ object.is_enabled }}</h6>
            <h6>Статус рассылки: {{ object.status }}</h6>
            {% if user.is_superuser or object.user == user or user|has_group:"Менеджер" %}
            <div class='col-6'>
                <a class="btn btn-warning" href="{% url 'mailing:update_distributions' object.pk %}" role="button">Изменить</a>
                {% if user.is_superuser or object.user == user %}
                    <a class="btn btn-danger" href="{% url 'mailing:delete_distributions' object.pk %}" role="button">Удалить</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
