{% extends 'mailing/base.html' %}

{% block content %}
    <div class='product_desc'>
        <div class='card' style='background-color: #1d1d1d; padding: 13px; margin: 7px; color: white; border: 2px solid #ffd900'>
            <div>
                <div class='entry_name'>
                    <h4>{{ entry.entry_title }}</h4>
                </div>
            </div>

            <h5>{{ entry.entry_body|truncatechars:300 }}</h5>
            <p style='color: white;'>Дата публикации: {{ entry.date_created }}</p>
            <p style='color: white;'>Просмотров: {{ entry.views_count }}</p>
            {% if perms.blog.change_blogentry or user.is_superuser %}
                <a class="btn btn-warning" href="{% url 'list_entry' %}{{ entry.id }}/update" role="button">Изменить</a>
            {% endif %}
            {% if perms.blog.delete_blogentry or user.is_superuser %}
                <a class="btn btn-danger" href="{% url 'list_entry' %}{{ entry.id }}/delete" role="button">Удалить</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
