{% extends 'mailing/base.html' %}

{% block title %}
    <title>Профиль</title>
{% endblock %}

{% block content %}
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class='row'>
            <div class='col-12'>
                <div class='card'>
                    {{ form.as_p }}
                    <a href="{% url 'change_password' %}" class="btn btn-outline-primary" style='margin-top: 5px; margin-bottom: 5px; width:160px'>Сменить пароль</a>
                    <button type="submit" class="btn btn-warning" style='margin-top: 5px; margin-bottom: 5px; width:160px'>Сохранить</button>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="styled-link"><i class="fas fa-sign-out-alt"></i>Выход</button>
                    </form>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
