{% load static %}
{% load custom_tags %}
<aside>
    <img src="{% static 'img/8_95.png' %}"  >
    <span class="logo">Голубиная рассылка</span>
    <h3>Навигация</h3>
    <ul>
        <a href="{% url 'mailing:home' %}"><li><i class="fas fa-home"></i>Главная</li></a>
        {% if user|has_group:"Менеджер" or user.is_superuser %}
            <a href="{% url 'mailing:manager_menu' %}"><li><i class="fa-brands fa-microblog"></i>Пользователи</li></a>
            <a href="{% url 'mailing:email_distribution' %}"><li><i class="fa-brands fa-microblog"></i> Меню менеджера</li></a>
        {% endif %}
        {% if not user|has_group:"Менеджер" or user.is_superuser %}
            <a href="{% url 'mailing:clients' %}"><li><i class="fa-solid fa-users"></i>Клиенты</li></a>
            <a href="{% url 'mailing:mail_templates' %}"><li><i class="fa-solid fa-paper-plane"></i>Сообщения</li></a>
            <a href="{% url 'mailing:mail_distributions' %}"><li><i class="fa-solid fa-cloud"></i>Рассылки</li></a>
            <a href="{% url 'list_entry' %}"><li><i class="fa-brands fa-microblog"></i> Блог</li></a>

        {% endif %}
        {% if user.is_authenticated %}
            <a class="styled-link" href="{% url 'profile' %}">
                <li><i class="fas fa-user"></i>Профиль</li>
            </a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="styled-link-auth"><i class="fas fa-sign-out-alt"></i>Выход</button>
            </form>
        {% else %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="styled-link-auth"><i class="fas fa-sign-in-alt"></i>Вход</button>
            </form>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="styled-link-auth"><i class="fas fa-user-plus"></i>Регистрация</button>
            </form>
        {% endif %}
    </ul>
</aside>
