{% load static %}
    <aside>
        <img src="{% static 'img/8_95.png' %}"  >
        <span class="logo">Голубиная рассылка</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'mailing:home' %}"><li><i class="fas fa-home"></i>Главная</li></a>
            <a href="{% url 'mailing:client-list' %}"><li><i class="fa-solid fa-users"></i>Клиенты</li></a>
            <a href="{% url 'mailing:mailing-list' %}"><li><i class="fa-solid fa-paper-plane"></i>Рассылки</li></a>
            <a href="{% url 'mailing:message_list' %}"><li><i class="fa-solid fa-cloud"></i>Сообщения</li></a>

        </ul>
    </aside>